# Logs
*.log
backend/backend.log
backend/server.log

# Node & pnpm
node_modules/
.pnpm-store/
dist/
build/

# Keys and secrets
*.pem
.env

# DB data
database-data/

# Binaries
backend/server
backend/cmd/server/server
