openapi: 3.0.3
info:
  title: USBI Platform API
  description: |
    API institucional del sistema USBI. Todos los errores usan RFC 7807 (Problem Details).
    Todos los endpoints autenticados requieren JWT Bearer.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.usbi.edu.mx/api/v1
    description: Servidor de producción (On-Premise, TLS 1.2+)

security:
  - bearerAuth: []

paths:
  /auth/register:
    post:
      summary: Registro de nuevo usuario
      operationId: registerUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequestDTO'
      responses:
        '201':
          description: Usuario creado. Pendiente de consentimiento de tutor si es menor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponseDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/login:
    post:
      summary: Inicio de sesión
      operationId: loginUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequestDTO'
      responses:
        '200':
          description: Login exitoso. Devuelve JWT firmado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/logout:
    post:
      summary: Cierre de sesión (invalida JWT via token_version)
      operationId: logoutUser
      responses:
        '204':
          description: Sesión cerrada. token_version incrementado en DB.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/refresh:
    post:
      summary: Renovar sesión con refresh token opaco
      operationId: refreshSession
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequestDTO'
      responses:
        '200':
          description: Tokens rotados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseDTO'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/tutor-consent:
    post:
      summary: Solicitud de consentimiento de tutor (paso 1 del doble opt-in)
      operationId: submitTutorConsent
      security: []
      description: |
        Inicia el doble opt-in del tutor. Guarda los datos del tutor como una
        solicitud PENDIENTE con un token de un solo uso (24h por defecto) y envía
        un enlace de verificación al correo del tutor. La cuenta del menor NO se
        activa aquí: la activación ocurre sólo cuando el tutor abre el enlace
        (GET /auth/tutor-consent/verify), momento en que se registran la IP, la
        fecha y la hora del clic como evidencia legal del consentimiento.

        La respuesta es intencionalmente uniforme (202) exista o no la cuenta y
        esté o no pendiente, para no filtrar la existencia de cuentas.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TutorConsentRequestDTO'
      responses:
        '202':
          description: |
            Solicitud aceptada. Si la cuenta requiere consentimiento, se envió un
            correo de verificación al tutor.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [pending_verification]
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          description: Error de validación de los datos del tutor.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '502':
          description: No se pudo enviar el correo de verificación al tutor.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/tutor-consent/verify:
    get:
      summary: Verificación del consentimiento de tutor (paso 2 del doble opt-in)
      operationId: verifyTutorConsent
      security: []
      description: |
        Endpoint destinado al navegador del tutor (enlace del correo). Valida el
        token, registra el clic (IP, fecha y hora) como evidencia legal, crea el
        registro de consentimiento con sello HMAC y activa la cuenta del menor.
        Responde con una página HTML (no JSON) porque el tutor la abre desde su
        cliente de correo.
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Token opaco de un solo uso entregado en el correo del tutor.
      responses:
        '200':
          description: Consentimiento confirmado; cuenta activada. Página HTML.
          content:
            text/html:
              schema:
                type: string
        '400':
          description: Token ausente o inválido. Página HTML.
          content:
            text/html:
              schema:
                type: string
        '409':
          description: El token ya había sido utilizado. Página HTML.
          content:
            text/html:
              schema:
                type: string
        '410':
          description: El token caducó. Página HTML.
          content:
            text/html:
              schema:
                type: string
        '500':
          description: Error interno al procesar la verificación. Página HTML.
          content:
            text/html:
              schema:
                type: string

  /auth/age-up:
    post:
      summary: Transición manual a mayoría de edad (Ley 251 — Self-Service)
      operationId: ageUpTransition
      description: |
        Endpoint manual de auto-servicio. El usuario solicita explícitamente
        la actualización de is_adult=true. La transición minimiza los datos
        identificables del tutor asociados a la cuenta. Limitado a 3 intentos
        por cuenta, rastreados en DB. NO se ejecuta como cron job.
      responses:
        '200':
          description: Transición aceptada. is_adult actualizado.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Límite de 3 intentos excedido. Cuenta bloqueada para esta operación.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /sync:
    post:
      summary: Sincronización de progreso offline (idempotente)
      operationId: syncOfflineProgress
      description: |
        Recibe progreso generado offline. Valida HMAC sobre una cadena técnica
        canónica derivada de sync_event_id, user_id, device_id, crypto_key_version
        y payload. El device_id debe haber sido registrado por el backend.
        Recalcula XP en servidor y aplica merge idempotente por sync_event_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncEventRequestDTO'
      responses:
        '200':
          description: Sincronización exitosa o ya procesada (idempotente).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncEventResponseDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: |
            No autenticado o JWT expirado/invalidado, **o** firma HMAC
            inválida sobre el payload de sync (posible intento de trampa).
            Ambos casos comparten este código HTTP; se distinguen por el
            campo `type` de `ProblemDetails`
            (`.../errors/unauthorized` vs. `.../errors/invalid-signature`).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          description: |
            Payload de sync inválido tras la verificación de HMAC (por
            ejemplo: fecha de intento futura, `device_id` no registrado o
            nivel no disponible).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /arco:
    post:
      summary: Solicitud de Derechos ARCO (Acceso, Rectificación, Cancelación, Oposición)
      operationId: submitArcoRequest
      description: |
        Registra una solicitud ARCO. Si el tipo es 'cancelacion', el backend
        marcará wipe_local_data=true en la tabla devices para el usuario,
        que será inyectado en la siguiente respuesta de sync.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArcoRequestDTO'
      responses:
        '201':
          description: Solicitud ARCO registrada con evidence_hash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArcoResponseDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /arco/pending:
    get:
      summary: Listar solicitudes ARCO pendientes
      operationId: listPendingArcoRequests
      description: Sólo admin/director. Devuelve metadatos técnicos sin PII.
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Solicitudes pendientes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArcoPendingListDTO'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /arco/{request_id}/resolve:
    post:
      summary: Resolver solicitud ARCO
      operationId: resolveArcoRequest
      description: |
        Sólo admin/director. Si la solicitud aprobada es de cancelación,
        pseudonimiza PII, revoca sesiones y marca dispositivos para borrado local.
      parameters:
        - in: path
          name: request_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveArcoRequestDTO'
      responses:
        '200':
          description: Solicitud resuelta.
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/security-incidents:
    post:
      summary: Registrar un incidente de seguridad (bitácora del Documento de Seguridad)
      operationId: createSecurityIncident
      description: |
        Sólo admin/director. Registra un incidente en la bitácora de retención de
        5 años, sellado con un hash HMAC de evidencia (No-Repudio) y con entrada en
        admin_audit_log. Los campos de seguimiento (reported_at, resolved_at,
        notified_*) se completan posteriormente.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityIncidentRequestDTO'
      responses:
        '201':
          description: Incidente registrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  severity:
                    type: string
                  message:
                    type: string
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Error de validación del incidente.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /devices:
    get:
      summary: Listar dispositivos registrados del usuario autenticado
      operationId: listDevices
      responses:
        '200':
          description: Dispositivos activos del usuario.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceListResponseDTO'
    post:
      summary: Registrar dispositivo para sincronización offline
      operationId: registerDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDeviceRequestDTO'
      responses:
        '201':
          description: Dispositivo registrado. Usar `id` como device_id en sync.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDTO'

  /sections:
    get:
      summary: Listar secciones oficiales
      operationId: listSections
      parameters:
        - in: query
          name: include_unpublished
          schema:
            type: boolean
            default: false
          description: Sólo admin/operator/director puede ver borradores.
      responses:
        '200':
          description: Lista de secciones visibles para el rol autenticado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionListResponseDTO'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Crear sección oficial
      operationId: createSection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSectionRequestDTO'
      responses:
        '201':
          description: Sección creada como borrador.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionDTO'
        '403':
          $ref: '#/components/responses/Forbidden'

  /sections/{section_id}:
    patch:
      summary: Actualizar sección oficial
      operationId: updateSection
      parameters:
        - $ref: '#/components/parameters/SectionID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSectionRequestDTO'
      responses:
        '200':
          description: Sección actualizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionDTO'
        '404':
          $ref: '#/components/responses/NotFound'

  /sections/{section_id}/publish:
    post:
      summary: Publicar sección
      operationId: publishSection
      parameters:
        - $ref: '#/components/parameters/SectionID'
      responses:
        '200':
          description: Sección publicada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionDTO'

  /sections/{section_id}/unpublish:
    post:
      summary: Despublicar sección
      operationId: unpublishSection
      parameters:
        - $ref: '#/components/parameters/SectionID'
      responses:
        '200':
          description: Sección regresada a borrador.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionDTO'

  /sections/{section_id}/archive:
    post:
      summary: Archivar sección
      operationId: archiveSection
      parameters:
        - $ref: '#/components/parameters/SectionID'
      responses:
        '200':
          description: Sección archivada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionDTO'

  /levels:
    get:
      summary: Listar niveles oficiales
      operationId: listLevels
      parameters:
        - in: query
          name: section_id
          schema:
            type: string
            format: uuid
        - in: query
          name: cursor
          schema:
            type: string
            format: uuid
        - in: query
          name: page_size
          schema:
            type: integer
            default: 20
            maximum: 50
        - in: query
          name: include_unpublished
          schema:
            type: boolean
            default: false
          description: Sólo admin/operator/director puede ver borradores.
      responses:
        '200':
          description: Lista paginada de niveles publicados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LevelListResponseDTO'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Crear nivel oficial (sólo admin/operator/director)
      operationId: createLevel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLevelRequestDTO'
      responses:
        '201':
          description: Nivel creado en PostgreSQL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LevelDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /levels/{level_id}:
    get:
      summary: Obtener nivel oficial con contenido
      operationId: getLevel
      parameters:
        - $ref: '#/components/parameters/LevelID'
      responses:
        '200':
          description: Nivel oficial.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LevelDTO'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Actualizar nivel oficial
      operationId: updateLevel
      parameters:
        - $ref: '#/components/parameters/LevelID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLevelRequestDTO'
      responses:
        '200':
          description: Nivel actualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LevelDTO'

  /levels/{level_id}/publish:
    post:
      summary: Publicar nivel oficial
      operationId: publishLevel
      parameters:
        - $ref: '#/components/parameters/LevelID'
      responses:
        '200':
          description: Nivel publicado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LevelDTO'

  /levels/{level_id}/unpublish:
    post:
      summary: Despublicar nivel oficial
      operationId: unpublishLevel
      parameters:
        - $ref: '#/components/parameters/LevelID'
      responses:
        '200':
          description: Nivel regresado a borrador.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LevelDTO'

  /levels/{level_id}/archive:
    post:
      summary: Archivar nivel oficial
      operationId: archiveLevel
      parameters:
        - $ref: '#/components/parameters/LevelID'
      responses:
        '200':
          description: Nivel archivado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LevelDTO'

  /levels/{level_id}/complete:
    post:
      summary: Completar partida oficial online
      operationId: completeLevel
      parameters:
        - $ref: '#/components/parameters/LevelID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteLevelRequestDTO'
      responses:
        '200':
          description: Resultado oficial con XP calculada por backend.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteLevelResponseDTO'

  /profile/progress:
    get:
      summary: Obtener progreso oficial del usuario autenticado
      operationId: getProfileProgress
      responses:
        '200':
          description: Progreso oficial.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileProgressResponseDTO'

components:
  parameters:
    SectionID:
      in: path
      name: section_id
      required: true
      schema:
        type: string
        format: uuid
    LevelID:
      in: path
      name: level_id
      required: true
      schema:
        type: string
        format: uuid

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT firmado con HS256. Incluye user_id, role y token_version.

  schemas:
    # ── Auth ──────────────────────────────────────────────────────────────────
    RegisterRequestDTO:
      type: object
      required: [full_name, email, password, is_adult, privacy_notice_version]
      additionalProperties: false
      properties:
        full_name:
          type: string
          minLength: 2
          maxLength: 120
        email:
          type: string
          format: email
        phone:
          type: string
        password:
          type: string
          minLength: 8
        is_adult:
          type: boolean
        privacy_notice_version:
          type: string

    RegisterResponseDTO:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, pending_tutor_consent]
        message:
          type: string

    LoginRequestDTO:
      type: object
      required: [email, password]
      additionalProperties: false
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    LoginResponseDTO:
      type: object
      properties:
        access_token:
          type: string
          description: JWT firmado. Almacenar EXCLUSIVAMENTE en Tauri Plugin Store, nunca en window.
        refresh_token:
          type: string
          description: Token opaco de 7 días. Se guarda sólo como HMAC en servidor.
        token_type:
          type: string
          enum: [Bearer]
        access_token_expires_in:
          type: integer
          example: 900
        refresh_token_expires_at:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/UserDTO'

    RefreshRequestDTO:
      type: object
      required: [refresh_token]
      additionalProperties: false
      properties:
        refresh_token:
          type: string

    TutorConsentRequestDTO:
      type: object
      required: [user_id, tutor_name, tutor_email, privacy_notice_version]
      additionalProperties: false
      properties:
        user_id:
          type: string
          format: uuid
        tutor_name:
          type: string
        tutor_email:
          type: string
          format: email
        privacy_notice_version:
          type: string

    # ── User ──────────────────────────────────────────────────────────────────
    UserDTO:
      type: object
      description: DTO público. Excluye campos criptográficos y hashes internos.
      properties:
        id:
          type: string
          format: uuid
        full_name:
          type: string
        is_adult:
          type: boolean
        role:
          type: string
          enum: [player, admin, operator, director]
        status:
          type: string
          enum: [active, suspended, pending_tutor_consent, deleted]
        created_at:
          type: string
          format: date-time

    # ── Sync ──────────────────────────────────────────────────────────────────
    SyncPayloadDTO:
      type: object
      description: |
        Paquete de progreso offline. NO debe contener nombre, correo, teléfono
        ni datos personales identificables. Sólo eventos técnicos de progreso.
      required: [level_attempts]
      additionalProperties: false
      properties:
        level_attempts:
          type: array
          items:
            $ref: '#/components/schemas/LevelAttemptPayloadItem'
        daily_streak_dates:
          type: array
          description: Fechas de actividad (ISO 8601) para fusión de racha diaria.
          items:
            type: string
            format: date
        badge_ids_earned:
          type: array
          description: IDs de insignias ganadas offline para fusión por unión.
          items:
            type: string
            format: uuid

    LevelAttemptPayloadItem:
      type: object
      required: [level_id, attempt_date, attempt_number, xp_awarded, score, completed]
      additionalProperties: false
      properties:
        level_id:
          type: string
          format: uuid
        attempt_date:
          type: string
          format: date
        attempt_number:
          type: integer
          minimum: 1
        xp_awarded:
          type: integer
          minimum: 0
          description: XP calculada localmente. El backend recalcula este valor con dificultad oficial, número de intento y lock transaccional. No se confía en este campo.
        score:
          type: integer
          minimum: 0
          description: Puntaje del juego para este intento (NO es XP). Alimenta player_progress.best_score igual que el flujo online; la XP siempre se recalcula en el servidor y nunca se deriva de este valor.
        completed:
          type: boolean

    SyncEventRequestDTO:
      type: object
      required: [sync_event_id, user_id, device_id, payload, hmac_signature, crypto_key_version]
      additionalProperties: false
      properties:
        sync_event_id:
          type: string
          format: uuid
          description: UUID generado por el cliente. Garantiza idempotencia.
        user_id:
          type: string
          format: uuid
        device_id:
          type: string
          format: uuid
        crypto_key_version:
          type: integer
          description: Versión del keyring HMAC usado para firmar.
        payload:
          $ref: '#/components/schemas/SyncPayloadDTO'
        hmac_signature:
          type: string
          format: byte
          description: HMAC-SHA256 Base64 de la cadena canónica `sync_event_id|user_id|device_id|crypto_key_version|attempts|streak_dates|badge_ids`.

    SyncEventResponseDTO:
      type: object
      properties:
        status:
          type: string
          enum: [synced, already_processed]
        wipe_local_data:
          type: boolean
          description: |
            Si true, el frontend DEBE ejecutar DROP/DELETE sobre la base de datos
            SQLite local para cumplir con Derechos ARCO (Cancelación).
        server_xp_total:
          type: integer
          description: XP total en servidor post-merge para validación en cliente.
        badges_awarded:
          type: array
          items:
            type: string
            format: uuid

    RegisterDeviceRequestDTO:
      type: object
      required: [device_label, platform]
      additionalProperties: false
      properties:
        device_label:
          type: string
        platform:
          type: string
          enum: [web, tauri]

    DeviceDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        device_label:
          type: string
        platform:
          type: string
          enum: [web, tauri]
        registered_at:
          type: string
          format: date-time
        last_seen_at:
          type: string
          format: date-time
        wipe_local_data:
          type: boolean

    DeviceListResponseDTO:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DeviceDTO'

    # ── ARCO ──────────────────────────────────────────────────────────────────
    ArcoRequestDTO:
      type: object
      required: [request_type]
      additionalProperties: false
      properties:
        request_type:
          type: string
          enum: [acceso, rectificacion, cancelacion, oposicion]
        details:
          type: string
          maxLength: 1000

    ArcoResponseDTO:
      type: object
      required: [request_id, status, message]
      properties:
        request_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending]
        message:
          type: string

    ArcoPendingItemDTO:
      type: object
      required: [id, requester_type, request_type, status, received_at]
      properties:
        id:
          type: string
          format: uuid
        requester_type:
          type: string
        request_type:
          type: string
          enum: [acceso, rectificacion, cancelacion, oposicion]
        status:
          type: string
          enum: [pending]
        received_at:
          type: string
          format: date-time

    ArcoPendingListDTO:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ArcoPendingItemDTO'

    ResolveArcoRequestDTO:
      type: object
      required: [approved, response_summary]
      additionalProperties: false
      properties:
        approved:
          type: boolean
        response_summary:
          type: string
          maxLength: 1000

    SecurityIncidentRequestDTO:
      type: object
      required: [severity, affected_scope, description, containment_actions]
      additionalProperties: false
      properties:
        severity:
          type: string
          enum: [low, medium, high, critical]
        affected_scope:
          type: string
          maxLength: 2000
        description:
          type: string
          maxLength: 10000
        containment_actions:
          type: string
          maxLength: 10000
        detected_at:
          type: string
          format: date-time
          description: RFC3339; por defecto la hora del servidor. No puede ser futuro.
        reported_to_cutai:
          type: boolean

    # ── Levels ────────────────────────────────────────────────────────────────
    SectionDTO:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        color:
          type: string
        is_published:
          type: boolean
        created_by_admin_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time

    CreateSectionRequestDTO:
      type: object
      required: [title, color]
      additionalProperties: false
      properties:
        title:
          type: string
        description:
          type: string
        color:
          type: string

    SectionListResponseDTO:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SectionDTO'

    LevelDTO:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        section_id:
          type: string
          format: uuid
        title:
          type: string
        color:
          type: string
        template_type:
          type: string
          enum: [trivia, puzzle, word_search, fake_news, crossword, memory, snakes_ladders]
        content:
          $ref: '#/components/schemas/LevelContentDTO'
        difficulty:
          type: integer
          minimum: 1
          maximum: 10
        is_published:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    LevelSummaryDTO:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        section_id:
          type: string
          format: uuid
        title:
          type: string
        color:
          type: string
        template_type:
          type: string
          enum: [trivia, puzzle, word_search, fake_news, crossword, memory, snakes_ladders]
        difficulty:
          type: integer
          minimum: 1
          maximum: 10
        is_published:
          type: boolean
        created_at:
          type: string
          format: date-time

    CreateLevelRequestDTO:
      type: object
      required: [section_id, title, color, template_type, content, difficulty]
      additionalProperties: false
      properties:
        section_id:
          type: string
          format: uuid
        title:
          type: string
        color:
          type: string
        template_type:
          type: string
          enum: [trivia, puzzle, word_search, fake_news, crossword, memory, snakes_ladders]
        content:
          $ref: '#/components/schemas/LevelContentDTO'
        difficulty:
          type: integer
          minimum: 1
          maximum: 10

    UpdateLevelRequestDTO:
      type: object
      required: [title, color, template_type, content, difficulty]
      additionalProperties: false
      properties:
        title:
          type: string
        color:
          type: string
        template_type:
          type: string
          enum: [trivia, puzzle, word_search, fake_news, crossword, memory, snakes_ladders]
        content:
          $ref: '#/components/schemas/LevelContentDTO'
        difficulty:
          type: integer
          minimum: 1
          maximum: 10

    LevelListResponseDTO:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/LevelSummaryDTO'
        next_cursor:
          type: string
          format: uuid

    LevelContentDTO:
      oneOf:
        - type: array
          items:
            $ref: '#/components/schemas/TriviaQuestionDTO'
        - $ref: '#/components/schemas/TriviaEnvelopeDTO'
        - $ref: '#/components/schemas/MemoryContentDTO'
        - $ref: '#/components/schemas/FakeNewsContentDTO'
        - $ref: '#/components/schemas/WordSearchContentDTO'
        - $ref: '#/components/schemas/PuzzleContentDTO'
        - $ref: '#/components/schemas/CrosswordContentDTO'
        - $ref: '#/components/schemas/SnakesLaddersContentDTO'
      description: Contenido JSON validado por `template_type`. Máximo 5MB.

    TriviaQuestionDTO:
      type: object
      required: [question, options, correct_index]
      additionalProperties: false
      properties:
        question:
          type: string
          minLength: 1
        options:
          type: array
          minItems: 2
          maxItems: 4
          items:
            type: string
            minLength: 1
        correct_index:
          type: integer
          minimum: 0
          maximum: 3
        media_url:
          type: string

    TriviaEnvelopeDTO:
      type: object
      required: [questions]
      additionalProperties: false
      properties:
        questions:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/TriviaQuestionDTO'

    MemoryPairDTO:
      type: object
      required: [id, content1, content2]
      additionalProperties: false
      properties:
        id:
          type: string
        content1:
          type: string
          minLength: 1
        content2:
          type: string
          minLength: 1
        color:
          type: string

    MemoryContentDTO:
      type: object
      required: [pairs]
      additionalProperties: false
      properties:
        back_color:
          type: string
        pairs:
          type: array
          minItems: 4
          items:
            $ref: '#/components/schemas/MemoryPairDTO'

    FakeNewsItemDTO:
      type: object
      required: [title, content, isFake, reference]
      additionalProperties: false
      properties:
        title:
          type: string
          minLength: 1
        content:
          type: string
          minLength: 1
        isFake:
          type: boolean
        explanation:
          type: string
        imageUrl:
          type: string
        reference:
          type: string
          minLength: 1

    FakeNewsContentDTO:
      type: object
      required: [news]
      additionalProperties: false
      properties:
        news:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/FakeNewsItemDTO'

    WordSearchContentDTO:
      type: object
      required: [words]
      additionalProperties: false
      properties:
        words:
          type: array
          minItems: 2
          items:
            type: string
            minLength: 2
        width:
          type: integer
          minimum: 5
          maximum: 24
        height:
          type: integer
          minimum: 5
          maximum: 24
        seed:
          type: integer

    PuzzleContentDTO:
      type: object
      required: [phrase]
      additionalProperties: false
      properties:
        phrase:
          type: string
          minLength: 1
        pieces:
          type: integer
          minimum: 3
          maximum: 20
          default: 3
        seed:
          type: integer

    CrosswordWordDTO:
      type: object
      required: [word, clue]
      additionalProperties: false
      properties:
        word:
          type: string
          minLength: 2
        clue:
          type: string
          minLength: 1

    CrosswordContentDTO:
      type: object
      required: [words]
      additionalProperties: false
      properties:
        words:
          type: array
          minItems: 2
          description: Las respuestas deben compartir letras suficientes para formar un crucigrama conectado.
          items:
            $ref: '#/components/schemas/CrosswordWordDTO'

    BoardLinkDTO:
      type: object
      required: [start, end]
      additionalProperties: false
      properties:
        start:
          type: integer
          minimum: 1
        end:
          type: integer
          minimum: 1

    SnakesLaddersContentDTO:
      type: object
      required: [board_width, board_height, start_position, end_position]
      additionalProperties: false
      properties:
        board_width:
          type: integer
          minimum: 1
        board_height:
          type: integer
          minimum: 1
        start_position:
          type: integer
          minimum: 1
        end_position:
          type: integer
          minimum: 1
        seed:
          type: integer
        ai_config:
          $ref: '#/components/schemas/SnakesAIConfigDTO'
        questions:
          type: array
          minItems: 3
          items:
            $ref: '#/components/schemas/SnakesQuestionDTO'
        snakes:
          type: array
          items:
            $ref: '#/components/schemas/BoardLinkDTO'
        ladders:
          type: array
          items:
            $ref: '#/components/schemas/BoardLinkDTO'

    SnakesAIConfigDTO:
      type: object
      required: [difficulty]
      additionalProperties: false
      properties:
        difficulty:
          type: string
          enum: [EASY, MEDIUM, HARD]
        fail_probability:
          type: number
          minimum: 0
          maximum: 1
        weights:
          type: array
          items:
            type: number
            minimum: 0

    SnakesQuestionDTO:
      type: object
      required: [question, options, correct_index]
      additionalProperties: false
      properties:
        question:
          type: string
          minLength: 1
        options:
          type: array
          minItems: 2
          maxItems: 4
          items:
            type: string
            minLength: 1
        correct_index:
          type: integer
          minimum: 0
          maximum: 3

    CompleteLevelRequestDTO:
      type: object
      required: [score, completed]
      additionalProperties: false
      properties:
        score:
          type: integer
          minimum: 0
        completed:
          type: boolean
        answers:
          description: Resumen técnico de respuestas. No se usa para calcular XP.
        client_finished_at:
          type: string
          format: date-time

    CompleteLevelResponseDTO:
      type: object
      properties:
        level_id:
          type: string
          format: uuid
        completed:
          type: boolean
        attempt_number:
          type: integer
        xp_awarded:
          type: integer
        total_xp:
          type: integer
        current_streak:
          type: integer
        badges_awarded:
          type: array
          items:
            $ref: '#/components/schemas/BadgeDTO'

    BadgeDTO:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        xp_threshold:
          type: integer
        icon_key:
          type: string
        earned_at:
          type: string
          format: date-time

    ProfileProgressResponseDTO:
      type: object
      properties:
        total_xp:
          type: integer
        completed_levels:
          type: integer
        total_attempts:
          type: integer
        current_streak:
          type: integer
        badges:
          type: array
          items:
            $ref: '#/components/schemas/BadgeDTO'
        levels:
          type: array
          items:
            type: object
            properties:
              level_id:
                type: string
                format: uuid
              title:
                type: string
              template_type:
                type: string
                enum: [trivia, puzzle, word_search, fake_news, crossword, memory, snakes_ladders]
              difficulty:
                type: integer
              best_score:
                type: integer
              xp_total_for_level:
                type: integer
              attempts_count:
                type: integer

    # ── RFC 7807 ──────────────────────────────────────────────────────────────
    ProblemDetails:
      type: object
      description: RFC 7807 Problem Details for HTTP APIs
      required: [type, title, status]
      properties:
        type:
          type: string
          format: uri
          example: https://api.usbi.edu.mx/errors/validation-error
        title:
          type: string
          example: Validation Error
        status:
          type: integer
          example: 400
        detail:
          type: string
          example: El campo email es requerido.
        instance:
          type: string
          format: uri
          example: /api/v1/auth/login

  responses:
    BadRequest:
      description: Solicitud inválida
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Unauthorized:
      description: No autenticado o JWT expirado/invalidado
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Forbidden:
      description: Sin permisos para este recurso
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    NotFound:
      description: Recurso no encontrado
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    Conflict:
      description: Conflicto de estado (ej. UUID duplicado, email ya registrado)
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    InternalServerError:
      description: Error interno del servidor
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
